<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ app_name }}</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <style>
        html, body {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
        }

        .root {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        #canvas {
            margin: 0;
            flex: 1;
            contain: size;
        }
        {{ inline_css }}
    </style>
    <script type="text/javascript">
        {{ inline_js }}
    </script>
  </head>
  <body>
    <div class="root">
        <canvas id="canvas"></canvas>
    </div>

    <script type="module">
      import(`./{{ bin_name }}.js`).then((module) => module.default());
    </script>
  </body>
</html>
