[package]
name = "jamjar"
version = "0.1.0"
authors = ["***Realname*** ***Lastname*** <***redacted.email@redacted.nope***>"]
description = "A simple, opinionated tool for packaging Rust apps for different platforms. Mostly intended for game jams."

[features]
default = ["cli"]
cli = ["structopt", "structopt-derive"]

[dependencies]
failure = "~0.1.3"
handlebars = "~1.1.0"
serde = "~1.0.80"
serde_derive = "~1.0.80"
tempfile = "~3.0.4"
toml = "~0.4.8"
zip = "~0.4.2"

[dependencies.structopt]
optional = true
version = "~0.2.12"

[dependencies.structopt-derive]
optional = true
version = "~0.2.12"
